@{
    ViewBag.Title = "About";
}

<body style="background-color:floralwhite">

    <div class="jumbotron">
        <h1>About the ILO</h1>
    </div>

    <img style="height:500px" src="~/Images/YoungW3.jpg" />

    <div>
        <h2>Mission and impact of the ILO</h2>
        <h4>Promoting jobs, Protecting poeple</h4>
        <div style="background-color:lightgray">
            <p>
                The International Labour Organization (ILO) is devoted to promoting social justice and internationally recognized human and labour rights,
                pursuing its founding mission that social justice is essential to universal and lasting peace.

                Only tripartite U.N. agency, the ILO brings together governments, employers and workers representatives of 187 member States , to set labour standards,
                develop policies and devise programmes promoting decent work for all women and men.

                Today, the ILO's Decent Work agenda  helps advance the economic and working conditions that give all workers, employers and governments a stake in lasting peace,
                prosperity and progress.
            </p>
        </div>
    </div>

    <div>
        <h2>How The ILO Works</h2>
        <h4>Tripartism and social dialogue</h4>
        <div style="background-color:lightgray">
            <p>
                Underlying the ILO’s work is the importance of cooperation between
                governments and employers’ and workers’ organizations in fostering social and economic progress.

                The ILO aims to ensure that it serves the needs of working women and men by bringing together governments,
                employers and workers to set labour standards, develop policies and devise programmes.
                The very structure of the ILO, where workers and employers together have an equal voice with governments in
                its deliberations, shows social dialogue in action. It ensures that the views of the social
                partners are closely reflected in ILO labour standards, policies and programmes.

                The ILO encourages this tripartism within its constituents - employers , workers  and member States ,
                by promoting a social dialogue between trade unions and employers in formulating, and where appropriate,
                implementing national policy on social, economic, and many other issues.
            </p>
        </div>

        <h4>Main Bodies</h4>
        <div style="background-color:lightgray">
            <p>
                The ILO accomplishes its work through three main bodies which comprise governments', employers' and workers' representatives:
                the International labour Conference  sets the International labour standards and the broad policies of the ILO. It meets annually in Geneva.
                Often called an international parliament of labour, the Conference is also a forum for discussion of key social and labour questions.
                the Governing body  is the executive council of the ILO. It meets three times a year in Geneva. It takes decisions on ILO policy and establishes
                the programme and the budget, which it then submits to the Conference for adoption.
                the International Labour Office  is the permanent secretariat of the International Labour Organization. It is the focal point for International
                Labour Organization's overall activities, which it prepares under the scrutiny of the Governing Body and under the leadership of the Director-General .
                The work of the Governing Body and of the Office is aided by tripartite committees covering major industries. It is also supported by committees of
                experts on such matters as vocational training, management development, occupational safety and health, industrial relations, workers’ education, and special problems of women and young workers.
                Regional meetings  of the ILO member States are held periodically to examine matters of special interest to the regions concerned.
            </p>
        </div>


    </div>
</body>
