
@{
    ViewBag.Title = "Index";
}


<h1>Applicant Form</h1>


    <table>
        <tr>
            <td><label for="name">Name:</label></td>
            <td><input type="text" name="Name" /></td>
        </tr>
        <tr>
            <td><label for="surname"> Surname:</label></td>
            <td><input type="text" name="Surname" /></td>
        </tr>
        <tr>
            <td>
                <label for="ApAge">Age:</label>
                <input type="number" name="apAge" value="Age" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="rbDriver">Driver:</label>
                <input type="radio" name="rbSelection1" value="Driver" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="rbAdmin">Admin:</label>
                <input type="radio" name="rbSelection1" value="Admin" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="rbFactory">Factory:</label>
                <input type="radio" name="rbSelection1" value="Admin" />
            </td>
        </tr>
        <tr>
            <td><label for="Drivexp">Driving experience:</label></td>
            <td><input type="text" name="Drivexp" /></td>
        </tr>
        <tr>
            <td><label for="Lisenc">Lisence Age:</label></td>
            <td><input type="number" name="Lisence" /></td>
        </tr>
        <tr>
            <td><label for="admin">Admin experience:</label></td>
            <td><input type="text" name="Adminexp" /></td>
        </tr>
        <tr>
            <td><label for="comms">Communication Skills:</label></td>
            <td><input type="text" name="commskill" /></td>
        </tr>
        <tr>
            <td><label for="factor">Factory Experience:</label></td>
            <td><input type="text" name="Factexp" /></td>
        </tr>
        <tr>
            <td><label for="machine">Machinery Skills:</label></td>
            <td><input type="text" name="machineskill" /></td>
        </tr>

        <tr>
            <td>
                <input class="btn-success" name="SubmitForm" value="Submit" />
            </td>
        </tr>
    </table>


