
@{
    ViewBag.Title = "Index";
}
<body>
    <h1>Log In</h1>
    <table>
        <tr>
            <td><label for="cellnum">Cellphone Number:</label></td>
            <td><input type="text" name="cellphone" /></td>
        </tr>
        <tr>
            <td><label for="Psword">Password:</label></td>
            <td><input type="password" name="Password" /></td>
        </tr>
        <tr>
            <td>
                <label for="rbApplicant">Applicant</label>
                <input type="radio" name="rbSelection" value="Applic" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="rbJob">Job Provider</label>
                <input type="radio" name="rbSelection" value="Job" />
            </td>
        </tr>
        <tr>
            <td >
                <input class="btn-success" name="LogIn" value="Log In" />
            </td>
        </tr>
    </table>
</body>

